@import "tailwindcss";
@plugin "daisyui";

@keyframes blinkGlow {
  0%,
  100% {
    box-shadow: 0 0 0px 0px #39ff14;
  }
  50% {
    box-shadow: 0 0 30px 10px #22c55e;
  }
}

.blink-glow {
  animation: blinkGlow 1.5s ease-in-out infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s linear infinite;
}

@keyframes blinkk {
  0%,
  100% {
    box-shadow: 0 0 20px 0px #39ff14;
    opacity: 1;
  }
  50% {
    box-shadow: 0 0 30px 10px #39ff14;
    opacity: 0.8;
  }
}

.blinkk {
  animation: blinkk 3s ease-in-out infinite;
}

/* ⬆ Optional: Custom Bounce (if not using Tailwind's built-in one) */
@keyframes custom-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.bounce {
  animation: custom-bounce 1s ease-in-out infinite;
}

.bg-neon-green {
  background-color: hsl(var(--neon-green));
}

.bg-gradient-neon-green {
  background: linear-gradient(to right, #39ff14, #22d3ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.commonColorBg{
  background-color:#39ff14
}

.commonColorBg:hover{
  background-color:#1fd100
}

.commonColourBgHover:hover{
  background-color: cyan;
  color: black;
  transition-duration: 0.5s;
}

.colour{
  color: #39ff14;
}

input:disabled{
  cursor: not-allowed; 
  caret-color: rgb(131, 0, 0); 
}
